.contenedor{
    border: 1px solid;
    height: 1000px;
    display: flex;
    
    justify-content: center;
}

.padre{
    border: 1px solid red;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    height: 900px;
}
.logo{
    border: 1px solid green;
    display: flex;
    justify-content:space-around;
    /* width: 80%;
    height: auto; */
}
.Hijo{
    border: 1px solid blue;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 100px;
}
.botones{
    border: 2px solid blueviolet;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
   
}
