main{
    border: 1px solid;
    width: auto;
    height: 5000px;
}
.contenedor{
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
    
.padre{
    border: 1px solid red;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 900px;
}
.logo{
    border: 1px solid green;

}
.datos{
    border: 1px solid blue;
    width: 200px;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 400px;
    width: 100%;
}
/* .datos>input{
    height: 700px;
} */