

*{
    color: rgb(2, 2, 2);
    font-family: 'Noto Sans', sans-serif;

}
header{
    width: 100%;
    height: auto;
    background-color: #F2F2F2;
    display: flex;
    justify-content: center;
}
.logo{
    margin: 20px 12px;
    /* border: 1px solid red; */
}
main{
    height: 100%;
    width: auto;
    background-color: #A7BF4E;
}
.contenedor{
    width: 100%;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.hijo{
    /* border: 2px solid orangered; */
    background-color: #F2F2F2;
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 800px;
    height: 400px;
}
form{
    width: 600px;
    height: 450px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#miFormulario{
    width: 600px;
    height: 200px;
    border: 1px solid;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

}
.usuario{
    border-radius: 6px;
    width: 80%;
    height: 40px;
}
.tipocuenta{
    border-radius: 6px;
    width: 80%;
    height: 40px;

}
.botones{
    width: 700px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.boton{
    border-radius: 6px;
    cursor: pointer;
    border: solid #A7BF4E;
    background-color: #D3F263;
    width: 300px;
    height: 50px;
    color: rgb(0, 0, 0);
}